@font-face {
    font-family: 'Haettenschweiler';
    src: URL('haettenschweiler_[fr.allfont.net].ttf') format('truetype');
}

* {
    margin: 0px auto;
    padding: 0;
}
/*header*/

html {
    background: linear-gradient(49deg, rgba(151, 4, 161, 1) 0%, rgba(131, 21, 149, 1) 31%, rgba(179, 2, 33, 1) 72%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100%;
    margin: auto;
}

header {
    display: flex;
    width: 100%;
    height: 75px;
    background: rgba(0,0,0,0.50);
    justify-content: space-between;
    color: white;
    top: 0;
    font-size: 20px;
}

#home {
    display: flex;
    width: auto;
    justify-content: flex-start;
    align-items: center;
    filter: invert(1);
    margin-right: 50%;
}

#pages-container {
    display: flex;
    align-items: center;
    width: 40%;
    height: auto;
    justify-content: space-between;
}

#containerprinc {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.page {
    display: flex;
    align-items: center;
    height: auto;
    color: white;
}

/*fin header*/

#main-container{
    display: flex;
    height: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#main-text{
    display: flex;
    font-size: 40px;
    padding: 1%;
}

#romain{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

#image-container{
    display: flex;
    align-items: center;
    width: 100%;
}

#main-image{
    display: flex;
    width: auto;
    height: auto;
}

#main-image-left{
    display: flex;
    width: auto;
    height: auto;
    transform : rotate(180deg); 
}

#main-image-right{
    display: flex;
    width: auto;
    height: auto;   
}

#imgprinc{
    width: 65%;
    filter: drop-shadow(5px 40px 45px black);
}

#main-content{
    display: flex;
    font-size: 15px;
    width: 60%;
    padding: 0% 0% 5% 0%;
    color: white;
}

#main-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: none;
    width: 55%;
    padding: 3px 0px 3px 0px;
    color: white;
    background-color: black;
    font-weight: 800;
    font-size: 20px;
}

#arrow{
    display: flex;
    height:100px;
    filter: invert(1);
}