<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/static/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <header>
        <div id="home">
            <a href="Logo">
                <img src="/images/kisspng-jumpman-air-jordan-logo-nike-michael-jordan-5ac4734d096b10.3418821215228240130386.png" width="75px">
            </a>
        </div>
        <div id="pages-container">
            <div id="containerprinc">
                <div class="page">Sneakers</div>
                <div class="page">Team</div>
                <div class="page">About</div>
                <div class="page">Jade la boss</div>
            </div>
        </div>
    </header>
    <div id="main-container">
        <div id="main-text"> « Dream It, Do It »</div>
        <div id="romain">
            <div id="image-container">
            <div id="main-image-left"><img src="/images/right-chevron.svg" id="arrow"></div>
            <div id="main-image"><img src="/images/sneaker.png" id="imgprinc"></div>
            <div id="main-image-right"><img src="/images/right-chevron.svg" id="arrow"></div>
        </div>
            <div id="main-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,</div>
            <button id="main-button" type="button">Buy it !</button>
        </div>
 
    </div>
</html>
